<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Please Log IN</title>
</head>
<body>
    <p><%= (errorMsg) ? errorMsg : "Please login below: " %></p>
    <form method="post" action="/login">
        <label>Username</label><input name="username" type="text">
        <label>Password</label><input name="password" type="password">
        <br><br>
        <button type="submit">Login</button>

    </form>
</body>
</html>